div.container{
    display: flex;
    padding: 1vh 2vw 0 2vw;
    /* align-items: flex-start; */
    /* justify-content: flex-start; */
    align-items: center;
    margin-top: 1.6vh;
}
div.b{
    cursor: pointer;
    /* align-items: center; */
    display: flex;
    align-items: center;
    /* width: 4%; */
    /* height: 3vh; */
    border: 2px solid #222b34;
    border-radius: 20px;
    margin: 1vh .7vw 0 0;
    padding: 5px 20px 5px 5px;
    background-color: rgba(52, 58, 64,.4);
}

div.b:hover{
    transition: background-color 0.3s ease;
    background-color: rgba(52, 58, 64,.7);
}
div svg{
    background-color: rgba(52, 58, 64,0);
    size: 7px;
    padding: 10px;
    border-radius: 50%;
    /* background-color: #02588e; */
}
div.active > svg{
    transition: background-color 0.3s ease;
    size: 7px;
    padding: 10px;
    border-radius: 50%;
    background-color: #02588e;
}
