.sidebar {
  min-width: 13vw;
  width: 13vw;
  /* width: 26vw; */
  background-color: #1c1e24;
  padding: 10px;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  height: 93vh;
  border-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 0 2px 25px rgba(2, 88, 142, 0.2);
  margin-right: 2%;
  align-items: center;

  animation: fadeInFromLeft 0.5s ease forwards;
  transform-origin: left center;
  opacity: 0;
  transform: scale(0.5);
}

@keyframes fadeInFromLeft {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}



div.addNew {
  display: flex;
  align-items: center;
  margin: 1em auto;
  width: 70%;
  justify-content: space-between;
}

div.addNew  {
  background-color: rgba(0, 0, 0, 0);
}

.uploadButton {
  
  background-color: rgba(0, 0, 0, 0);

}

.uploadButton button {
  cursor: pointer;
  font-size: 2em;
  border: 2px dashed white;
  border-radius: 50%;
  width: 2em;
  height: 2em;
}

/* .uploadButton button svg {
} */

.sidebarItem {
  width: 90%;
  display: flex;
  align-items: center;
  padding: 10px;
  margin: 7px 0;
  border-radius: 100px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 100%;
  overflow: hidden;
}
.frequentFolder{
  overflow: hidden;
  border-radius: 10px;
  width: 90% ;
  padding: 10px;
  margin: 7px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  /* justify-content: space-between; */
  height: 22%;
  overflow: hidden;
}
.frequentFolder div{
  width: 97%;
  
  /* margin: ; */
}
.frequentFolder div div{
  justify-content: left;
  margin-top: 3%;
}
.frequentFolder div div svg:nth-child(2){
  display: none;
}
.frequentFolder div div:nth-child(1){
  margin-top: 1.2%;
}

.sidebarItem:hover {
  background-color: #343a40;
}

.sidebarItem.active {
  background-color: #343a40;
}

.sidebarItem svg {
  margin-right: 10px;
}

.ProgressDiv {
  width: 90%;
  padding: 10px;
  padding-top: 10px;
  display: flex;
  border-radius: 10px;
  margin-top: 20px;
  flex-direction: column;
}

.ProgressDiv svg {
  width: 32px;
  height: 32;
  padding: 0px;
}

.ProgressDiv * {
  display: flex;
  align-items: center;
  width: 90%;
  margin: 5px 0;
}

progress {
  width: 10%;
  height: 20px;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 10%;
}

progress::-webkit-progress-bar {
  background-color: #E5E5E5;
  border-radius: 10px;
}

progress::-webkit-progress-value {
  background-color: #02588e;
  border-radius: 10px 0 0 10px;
  transition: width 0.3s ease;
}

/* Styling for Firefox */
progress::-moz-progress-bar {
  background-color: #02588e;
  border-radius: 10px;
  transition: width 0.3s ease;
}

progress::-ms-fill {
  background-color: #02588e;
  border-radius: 10px;
  transition: width 0.3s ease;
}

.ofStorage {
  margin-top: 5%;
}